class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :admin_actions do |t|
      t.string :admin_user_id, default: false, null: false
      t.bigint :object_id
      t.string :object_type
      t.string :action, null: false
      t.string :object_params
      t.string :object_diff
      
      t.timestamps
    end
  end
end